body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  background: url('img.png') 
  no-repeat center center fixed;

}

#app {
  display: flex;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.8);
}

.sidebar {
  width: 240px;
  background: linear-gradient(135deg, #69a0d6, #7792ec);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  border-radius: 0 50px 30px 0;
  box-shadow: 0 8px 24px rgba(62, 22, 207, 0.15);

}

.logo {
  margin: 2rem 7rem;
}


nav button {
  width: 100%;
  padding: 1rem;
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  padding-left: 2rem;
}

nav button:hover {
  background-color: #1565c057;
  border-radius: 10px;
}

#content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

h2 {
  color: #2b1d1d98;
}

.form-stdb {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
  background-color: #ffffffc9;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


form input, form button {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

form button {
  background-color: #7792ec;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #7792ec;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffffc9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

table th, table td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: left;
}

/* MODERN LOGIN BOX DESIGN */
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}




/* logo */
.logo_1{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #ffffffc9;
  border: 2px solid #e2e4ec;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
/* Contenedor principal centrado */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

/* Caja del login */
.login-box {
  background: linear-gradient(135deg, #f0f4f8, #e0e7ff);
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(62, 22, 207, 0.15);
  width: 100%;
  display: flex;
  text-align: center;
}

/* Título */
.login-box h2 {
  margin-bottom: 0.5rem;
  color: #2b1d1d98;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;


}
p{
  margin-bottom: 1.5rem;
  color: #2b1d1d98;
  font-weight:200;
  text-transform: uppercase;
  letter-spacing: 0.05rem;

}
label {
  color: #777;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

/* Inputs y botón */

.login-box button {
  width: 80%;
  padding: 0.75rem;
  border: none;
  border-radius: 2rem;
  background-color: #302aa5bd;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-box button:hover {
  background-color: #302aa5;
}


/* Mensaje de error */
#error-message {
  color: rgba(255, 0, 0, 0.418);
  margin-top: 1rem;
  font-size: 0.9rem;
}

/* Responsive extra */
@media (max-width: 480px) {
  .login-box {
    padding: 2rem 1.5rem;
  }
}

.form-group1 {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-group1 input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px rgba(54, 9, 236, 0.329);
  font-size: 1rem;
}
input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(54, 9, 236, 0.329);
}

.form-group1 label {
  position: absolute;
  top: 1rem;
  left: 0.75rem;
  color: #777;
  font-size: 1rem;
  background-color: transparent;
  pointer-events: none;
  transition: 0.2s ease all;
}

.form-group1 input:focus + label,
.form-group1 input:not(:placeholder-shown) + label {
  top: -0.5rem;
  left: 0.65rem;
  font-size: 0.75rem;
  color: #77777771;
  background: linear-gradient(135deg, #f0f4f8, #e0e7ff);
  border-radius: 1rem;
  border-color: rgba(54, 9, 236, 0.329);
  padding: 0 0.25rem;
}

#login-screen {
  display: none;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paw-loader {
  width: 80px;
  height: 80px;
  background: url('img.png') center center no-repeat;
  background-size: contain;
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0.6;
  }
}

.loading-screen p {
  margin-top: 16px;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}


textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: inset 0 1px 3px rgba(45, 44, 48, 0.329);
  font-size: 1rem;
}
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(54, 9, 236, 0.329);
}
/* cards */
.form-card_1 {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 300px;
  background-color: #9d71c0c9;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.form-card_2 {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 300px;
  background-color: #5f96acc9;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-card_3 {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 300px;
  background-color: #e7c06ac9;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-card_4 {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  background-color: #52967dc9;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 50%;
}
h3, hr{
  color: #2b1d1d98;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.numcita {
  color: #e6e3e3;
  font-weight: 900; 
  text-transform: uppercase; 
  letter-spacing: 0.1rem; 
  font-size: 3rem; 
  font-family: 'Arial Black', 'Impact', sans-serif;
}
.msj {
  border-radius: 8px; 
  margin: 16px 0; 
  font-size: 12px; 
  font-weight: 500; 
  color: #0061645d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white; 
  padding: 12px 16px; 
  z-index: 9999;
}
.msj p {
  margin: 0; 
  font-size: 12px; 
  color: #333; 
}